[Desktop Entry]
Type=Application
Name=Console Streaming Server
Exec=AppRun %F
Icon=default
#Comment=Edit this default file
Terminal=true
Categories=Utility;